@import '~styles/includes';

$lighten-color-highlight: lighten($color-highlight, 19);

.numeric-choice {
	$color-border: #dfdfdf;

	position: relative;
	padding-bottom: 1rem;
	border-bottom: 1px solid $color-border;

	&.is-selected {
		margin: -0.1em -0.1em 0 -0.1em;
		border: 1px solid $color-highlight;
		background-color: $lighten-color-highlight;
	}

	.correct-button {
		$correct-font: 'Segoe UI Symbol', arial, sans-serif;

		position: absolute;
		top: 2.35em;
		left: 1rem;
		font-size: inherit;
		background: transparent;
		font-family: $correct-font;
		border: 1px solid $color-border;
		border-radius: $dimension-rounded-radius * 0.75;
		width: 1.7em;
		height: 2.25em;
		cursor: pointer;

		&.is-correct {
			color: $color-correct;
		}

		&.is-not-correct {
			color: $color-incorrect;
		}
	}

	.numeric-feedback-editor {
		margin: 0 3.5rem;
	}
}
