html {
	--font-default: 'Libre Franklin';
}

.viewer--viewer-app {
	// background: red;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Libre Franklin';
	}

	h2 {
		color: #a20e83;
	}

	.component {
		font-family: 'Noto Serif';
	}

	pre,
	code,
	pre code,
	textarea {
		font-family: 'Roboto Mono';
	}
}
