@font-face {
	font-family: "OpenDyslexic";
	src: url("OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
	font-family: "OpenDyslexic";
	font-weight: bold;
	src: url("OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic, oblique;
	src: url("OpenDyslexic-Italic.otf") format("opentype");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic, oblique;
	font-weight: bold;
	src: url("OpenDyslexic-BoldItalic.otf") format("opentype");
}

html {
	--font-default: 'OpenDyslexic';
}

.viewer--viewer-app {
	// background: red;

	h1 {
		font-weight: normal;
		font-family: 'OpenDyslexic';
		font-size: 2.5em;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'OpenDyslexic';
	}

	h2 {
		color: #182f68;
		font-size: 1.5em;
	}

	.component {
		font-family: 'OpenDyslexic';
	}

	pre,
	code,
	pre code,
	textarea {
		font-family: 'Roboto Mono';
	}
}
